body {
    background-color: black;
    color: #fff;
    font-size: 20px;
    font-family: 'Gayathri' sans-serif;
}

h1 {
    background-color: burlywood;
    color: brown;
    font-family: Georgia;
}

ul {
    color: burlywood;
    font-family: sans-serif; 
}

ol {
    color: burlywood;
    font-family: sans-serif; 
}

p {
    color: burlywood;
    font-family: sans-serif; 
}

h3 {
    color: brown;
    font-family: sans-serif; 
    background-color: burlywood;
}

a {
    color: burlywood;
    font-family: sans-serif; 
}
.main {font-size: 75px;
    text-align: center;

}
div {
    background-color: brown;
    text-align: left;
}
.para {
    font-size: 35px;
    font-family: |"Times new roman";
    text-align: left;
    color:#ffb366;
}
img {
    height: auto;
    width: 500px;
    text-align: center;
}
.darker {
    color: #1a0d00;
}
.close {
    text-align: left;
    width: 500px;
}
.learn {
    display: inline-block;
    background-color: brown;
    color: burlywood;
    padding: 25px 50px;
    margin-left: 30px;
    margin-top: 30px;
    border
}
.learn:hover {
    background-color: burlywood;
    color: brown;
}
.close:hover {
    background-color: brown;
    color: burlywood;
}
.only {
    display: inline-block;
    font-size:60px;
    color: brown;
    padding: 50px;
    background-color: burlywood;
    margin: 20px;
    border:10px solid brown;
    
}